.figure-container{
	display: flexbox;
	flex-direction: vertical-align;
	margin-top: 50px;
	
}

.figure-row{
	display:flex;
	margin: 20px 0px;
	width: 100vw;
	justify-content: left;
}

figure{
	display: flex;
	margin: 0px 20px;
}

.figure-text{
	margin-left: 30px;
	
}

img{
	width: 220px;
	height: 158px;
}


figcaption{
	font-style: bold;
	font-size: 1.1rem;
	cursor: pointer;
}

figcaption:hover {
	color: purple;
	font-size: 1.2rem;
}

.figure-text{
	width: 200px;
}
